{% extends "base.html" %}
{% block title %}Об авторе{% endblock %}
{% block content %}
<div class="content">
    <h2>Об авторе проекта</h2>
    <p><strong>Разработчик:</strong> Никита Голубицкий</p>
    <p>Данный проект реализован для международного конкурса "Большие вызовы" с использованием:</p>
    <ul>
        <li>- Python + Flask (бекенд)</li>
        <li>- YOLOv8seg (детекция и сегментация трещин)</li>
        <li>- AgisoftMetashape API (создание ортофотоплана)</li>
        <li>- HTML/CSS/JS (фронтенд)</li>
    </ul>
    <p>По вопросам сотрудничества и доработок: <strong>nikitosrus01@gmail.com</strong></p>
    <p>Версия: 2.2 (Обновлено 27.04.2026)</p>
    <a href="/" class="btn-back">← На главную</a>
</div>
{% endblock %}